<ion-view ng-controller="pg6" view-title="Voc&ecirc;">
		<ion-content class="padding" scroll="true">
		
			<div class="list card">		
			  	<div class="item center">
				    <h2 class="question">Acabou?!</h2>
				    	<i ng-click="help()" class="ion-help-circled"></i>
				</div>
		
			    <div class="item item-body">
			      <img class="full-image" src="img/img6.jpg">
			      <p class="center">
			        <p><b>Droga</b>, voc&ecirc; acertou todas as quest&otilde;es, agora n&atilde;o tem mais como fugir!</p>
			        <p>Espero que tenha gostado, deu um <b>trabalh&atilde;o</b>!</p>
			      </p>
			      <p>
			      	<button ng-click="submit()" class="button button-block button-royal">
 						T&aacute; esperando o que? <b>APERTA AQUI!</b>
					</button>
			      </p>
			    </div>
			</div>
	
	</ion-content>
</ion-view>